@font-face {
    font-family: "GirloSP";
    src: url('./GirloSP.otf');
    src: url('./GirloSP.otf') format('otf');
}

@font-face {
    font-family: "Cakra";
    src: url('./Cakra-Normal.woff');
    src: url('./Cakra-Normal.woff') format('woff');
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    min-width: 100%;
}